<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BookMapper">
	<resultMap type="BookVO" id="BookResult">
		<id property="bookno" column="bookno"/>
		<result property="booktitle" column="booktitle"/>
		<result property="author" column="author"/>
		<result property="publisher" column="publisher"/>
		<result property="price" column="price"/>
		<result property="page" column="page"/>
		<result property="bookintro" column="bookintro"/>
		<result property="bookindex" column="bookindex"/>
		<result property="authorintro" column="authorintro"/>
		<result property="lend" column="lend"/>
		<collection property="files" ofType="java.lang.String" javaType="list">
			<result column="fullName"/>
		</collection>
	</resultMap>
	
	<insert id="createBook" parameterType="BookVO">
		insert into tbl_book (booktitle, author, publisher, price, page, bookintro, bookindex, authorintro)
		values (#{booktitle}, #{author}, #{publisher}, #{price}, #{page}, #{bookintro}, #{bookindex}, #{authorintro})
	</insert>
	<select id="readBook" resultType="BookVO">
		select * from tbl_book
		 where bookno = #{bookno}
	</select>
	
	<select id="list" resultType="BookVO">
		select * from tbl_book 
		 order by bookno desc
	</select>
	<update id="updateBook" parameterType="BookVO">
		update tbl_book
		   set booktitle=#{booktitle}, author=#{author}, publisher=#{publisher},
		   		price=#{price}, page=#{page}, bookintro=#{bookintro},
		   		bookindex=#{bookindex}, authorintro=#{authorintro} 
		 where bookno=#{bookno}
	</update>
	<delete id="deleteBook" parameterType="BookVO">
		delete from tbl_book
		where bookno=#{bookno}
	</delete>
	
	<select id="listPage" resultType="BookVO">
		select * from tbl_book order by bookno desc limit #{page}, 15
	</select>
	<select id="listCriteria" resultType="BookVO">
		select * from tbl_book order by bookno desc limit #{pageStart}, #{perPageNum}
	</select>
	<select id="totalCount" resultType="int">
		select count(bookno) from tbl_book
	</select>
	
	<sql id="search">
		<if test="searchType=='bno'.toString()">
			where bookno like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType=='btitle'.toString()">
			where booktitle like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType=='author'.toString()">
			where author like CONCAT('%', '${keyword}', '%')
		</if>
		<if test="searchType=='pub'.toString()">
			where publisher like CONCAT('%', '${keyword}', '%')
		</if>
	</sql>
	
	<select id="listSearchCriteria" resultType="BookVO">
		select * from tbl_book
			<include refid="search"></include>
		 order by bookno desc limit #{pageStart}, #{perPageNum}
	</select>
	<select id="listSearchCriteria2" resultType="BookVO">
		select * from tbl_book
			<include refid="search"></include>
		 order by bookno limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalSearchCount" resultType="int">
		select count(bookno) from tbl_book
			<include refid="search"></include>
	</select>
	
	<insert id="addAttach">
		insert into tbl_attach (fullname, bookno) values (#{fullname}, LAST_INSERT_ID())
	</insert>
	<select id="readAndAttachByBookno" resultMap="BookResult">
		select * from tbl_book b left join tbl_attach a
		    on b.bookno = a.bookno
		 where b.bookno = #{bookno}
	</select>
</mapper>