<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.LoanMapper">
	<resultMap type="BookVO" id="BookResult">
		<id property="bookno" column="bookno"/>
		<result property="category" column="category"/>
		<result property="isbn" column="isbn"/>
		<result property="booktitle" column="booktitle"/>
		<result property="author" column="author"/>
		<result property="publisher" column="publisher"/>
		<result property="price" column="price"/>
		<result property="pages" column="pages"/>
		<result property="bookintro" column="bookintro"/>
		<result property="bookindex" column="bookindex"/>
		<result property="authorintro" column="authorintro"/>
		<result property="lend" column="lend"/>
		<result property="lendnum" column="lendnum"/>
	</resultMap>
	<insert id="createLoan" parameterType="LoanVO">
		insert into tbl_loan (userno, bookno)
		values (#{userno}, #{bookno})
	</insert>
	<update id="updateLend" parameterType="BookVO">
		update tbl_book
		   set lend='불가', lendnum=lendnum+1
		 where bookno=#{bookno}
	</update>
	<update id="updateMember" parameterType="MemberVO">
		update tbl_member
		   set totallend=totallend+1
		 where userno=#{userno}
	</update>
	<update id="updateReturn" parameterType="BookVO">
		update tbl_book
		   set lend='가능'
		 where bookno=#{bookno}
	</update>
	<update id="returnLoan" parameterType="LoanVO">
		update tbl_loan
		   set status='반납완료', returndate=#{returndate}
		 where userno=#{userno} and bookno=#{bookno}
	</update>
	
	<select id="returnBookByUserno" resultMap="BookResult">
		select * from tbl_book b left join tbl_loan l
		    on b.bookno = l.bookno
		 where l.userno = #{userno} and l.returndate is null
	</select>
</mapper>